@import "mixin";
@import "var";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.splash-one {
  width: 393px;
  height: 100%;
}
.doctor-images {
  width: 100%;
}

.doctor-card-title {
  @include Font-properties;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  padding-top: 32px;
}
.doctor-card-subTitle {
  @include Font-properties;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding-top: 26px;
  padding-bottom: 20px;
  color: $Font-color;
}
.signup-details {
  width: 393px;
}
.signup-heading {
  display: flex;
  padding: 20px 0;
  img {
    height: 18.75px;
    width: 18.75px;
    cursor: pointer;
  }
  p {
    @include Font-properties;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: $Text-color;
  }
}
.gender-select {
  @include Font-properties;
  width: 345px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: $Font-color;
  margin-top: 8px;
  padding: 8px;
}
.baseinputlabel {
  @include Font-properties;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $Text-color;
}
.weightheight {
  @include Flex-properties;
}
.WeightAndheightInput {
  width: 49%;
}
.Terms {
  input {
    width: 24px;
    height: 24px;
    border: 2px solid #6e6b7b;
  }
  p {
    @include Font-properties;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $Font-color;
    span {
      font-weight: 600;
      color: $Text-color;
    }
  }
}

// .family-details-card {
//   width: 393px;
// }
